.header{
    display: grid;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px;
    place-items: center;
    background: linear-gradient($bg-gradient-color1, $bg-gradient-color2);
}

.input{
    background-color: rgba(121,121,121, .267);
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    border: none;
    width: 80vw;
}