$bg-color: #fafafa;

$bg-gradient-color1: rgba(184, 203, 237, 1) 0%;
$bg-gradient-color2: rgba(222, 245, 221, 1) 100%;

$bg-border-color1: rgba(124, 166, 252, 1)0%;
$bg-border-color2: rgba(119, 235, 129, 1)100%;